*{
    background-color: wheat;
    padding: 0;
}

h1{
    position: fixed;
    top: 0;
    left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    position: fixed;
    top: 10px;
    right: 200px;
}
h3{
    position: relative;
    top: 10%;
}
img{
    border-radius: 50%;
    width: 300px;
    position: relative;
    top: 100px;
    left: 30%
}
dt{
    position: relative;
    top: 100px;
    left: 30%;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
dd{
    position: relative;
    top: 100px;
    left: 200px;
    font-size: large;
}